.hole {
  background: url("/hole.png") no-repeat center/contain;
  height: 150px;
}

.mole {
  background-image: url("/mole.png");
}

.container {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, 200px);
  grid-template-rows: repeat(3, 200px);
  height: 600px;
}
